.part1 {
  background-color: #ffebbe;
}
.part1 .inner {
  position: relative;
  height: 593px;
}
.part1 .inner img {
  position: absolute;
  width: 100%;
}
.part2 {
  background-color: #f2f2e8;
}
.part2 .inner {
  position: relative;
  height: 626px;
}
.part2 .inner img {
  position: absolute;
  width: 100%;
}
.part3 {
  background-color: #ffebbe;
}
.part3 .inner {
  position: relative;
  height: 626px;
}
.part3 .inner img {
  position: absolute;
  width: 100%;
}
/*centent样式*/
.public-conter {
  width: 1100px;
  position: relative;
  left: 50%;
  margin-left: -550px;
}
.header-banner {
  width: 100%;
  background: #ffebbe;
  position: relative;
  overflow: hidden;
}
.header-banner-bg {
  width: 1200px;
  position: relative;
  left: 50%;
  margin-left: -600px;
}
.header-banner-w {
  width: 100%;
  background: #f2f2e8;
  overflow: hidden;
}
.header-banner-bg-w {
  width: 1527px;
  position: relative;
  left: 50%;
  margin-left: -764px;
  background: #f2f2e8;
  padding-top: 38px;
}
.con-h1 {
  background: url("../img/advantage/h1.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/advantage/h1.png*/ no-repeat;
  width: 194px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 36px;
  color: #2f578b;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -97px;
}
.con-h3 {
  background: url("../img/advantage/h3.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/advantage/h3.png*/ no-repeat;
  width: 195px;
  height: 69px;
  line-height: 64px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 36px;
  color: #9b81bf;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -97px;
}
.con-h2 {
  font-size: 72px;
  font-family: "微软雅黑";
  color: #2f578b;
  font-weight: bold;
  width: 295px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -192px;
}
.con-1 {
  width: 176px;
  position: absolute;
  top: 114px;
  left: 217px;
}
.con-2 {
  width: 176px;
  position: absolute;
  top: 299px;
  left: 104px;
}
.con-3 {
  width: 176px;
  position: absolute;
  top: 90px;
  left: 721px;
}
.con-4 {
  width: 176px;
  position: absolute;
  top: 226px;
  left: 834px;
}
.con-5 {
  width: 176px;
  position: absolute;
  top: 114px;
  left: 217px;
  top: 402px;
  left: 905px;
}
.con-6 {
  width: 123px;
  position: absolute;
  top: 195px;
  left: 174px;
}
.con-7 {
  width: 149px;
  position: absolute;
  top: 120px;
  left: 1152px;
}
.con-8 {
  width: 136px;
  position: absolute;
  top: 433px;
  left: 1233px;
}
.con-9 {
  width: 233px;
  position: absolute;
  top: 430px;
  left: 100px;
  text-align: center;
}
.con-9 p {
  font-size: 22px;
  font-family: "微软雅黑";
  color: #2f578b;
  font-weight: 100;
}
.con-1-h1 {
  font-family: "微软雅黑";
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #908a80;
}
.con-1-con {
  font-family: "微软雅黑";
  font-size: 16px;
  color: #666666;
}
.con-2-h2 {
  font-family: "微软雅黑";
  font-size: 28px;
  font-weight: bold;
  color: #2f578b;
  height: 50px;
  line-height: 50px;
}
.con-2-con2 {
  font-size: 16px;
  color: #2f578b ;
}
.con-p {
  width: 400px;
  margin: 0 auto;
  font-size: 30px;
  font-family: "微软雅黑";
  padding-top: 131px;
}
.con-3-con {
  width: 1200px;
  overflow: hidden;
  padding-bottom: 40px;
}
.con-3-con-q {
  width: 360px;
  float: left;
  text-align: center;
  margin: 30px 19px;
}
