.part1 {
  background: url("../images/shili/shili_1.jpg")/*tpa=http://www.onlyhiedu.com/static/home/static/img/shili/shili_1.jpg*/ center no-repeat;
  width: 100%;
  height: 728px;
}
.part1 .title {
  margin-top: 53px;
  color: #f43100;
  border-color: #f43100;
}
.part1 .txt span {
  display: inline-block;
  width: 400px;
  margin-top: 116px;
  text-align: left;
  color: #dee7f5;
  line-height: 1.2;
}
.inner {
  text-align: center;
}
.title {
  display: inline-block;
  font-size: 37px;
  font-weight: bold;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  color: #fd4c37;
  padding: 0 20px;
  text-align: center;
  border: 3px solid #fd4c37;
  border-radius: 15px;
}
.part2 {
  background-color: #f8f8f8;
}
.part2 .title {
  margin: 60px 0 50px;
  color: #686868;
  border-color: #686868;
}
.part2 .pic {
  height: 300px;
  background: url("../images/shili/shili_4.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/shili/shili_4.png*/ center top no-repeat;
  background-size: 100% auto;
  text-align: left;
}
.part2 .pic span {
  display: inline-block;
  position: relative;
  width: 190px;
  float: left;
  line-height: 1.2;
  color: #686868;
  top: 40px;
}
.part2 .pic .txt_1 {
  left: 240px;
}
.part2 .pic .txt_2 {
  left: 340px;
}
.part2 .pic .txt_3 {
  left: 444px;
}
.part3 {
  position: relative;
  background-color: #e0f1fc;
  margin-bottom: -2px;
}
.part3 img {
  width: 100%;
  margin-bottom: -4px;
}
.part3 .inner {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 36px;
}
.part3 .inner .title {
  color: #6d91c8;
  border-color: #6d91c8;
}
.part3 .inner .blk_container {
  width: 500px;
  height: 210px;
  margin-top: 160px;
  margin-left: 378px;
}
.part3 .inner .blk_container .blk {
  width: 33%;
  height: 50%;
  float: left;
}
/*content*/
.public-conter {
  width: 1100px;
  position: relative;
  left: 50%;
  margin-left: -550px;
}
.header-banner {
  width: 100%;
  height: 728px;
  position: relative;
  overflow: hidden;
}
.header-banner-bg {
  background: url("../images/shili/banner-bg.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/shili/banner-bg.png*/ no-repeat center;
  width: 100%px;
  height: 728px;
  margin: 0 auto;
}
.header-banner-bg-text {
  width: 1138px;
  height: 374px;
  position: absolute;
  top: 155px;
  left: 50%;
  margin-left: -566.5px;
}
.header-banner-text {
  background: url("../images/shili/banner-bg2.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/shili/banner-bg2.png*/ no-repeat center;
  width: 217px;
  height: 95px;
  position: absolute;
  top: 160px;
  right: 95px;
}
.content-text-cn-button-lcon {
  background: url("../images/shili/lcon2.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/shili/lcon2.png*/ no-repeat left;
  width: 160px;
  height: 35px;
  line-height: 35px;
}
.content-q {
  height: 950px;
  overflow: hidden;
}
.content-q-h1 {
  width: 194px;
  height: 64px;
  margin: 50px auto;
}
.content-q-h2 {
  width: 220px;
  height: 65px;
  margin: 65px auto;
}
.content-q-con-q {
  width: 1200px;
  position: relative;
  left: 50%;
  margin-left: -635px;
  height: 147px;
  overflow: hidden;
}
.content-q-con-w {
  width: 1400px;
  position: relative;
  left: 50%;
  margin-left: -700px;
  height: 627px;
  overflow: hidden;
  top: 50px;
}
.content-w {
  overflow: hidden;
}
