.part {
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.part .inner {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
* {
    font-family: "Microsoft YaHei", DengXian, Arial, Simsun, SimHei, sans-serif;
}
body,
#middle,
#wrapper {
  width: 100%;
  min-width: 1100px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}