.title {
  display: inline-block;
  font-size: 37px;
  font-weight: bold;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  color: #151915;
  padding: 0 20px;
  text-align: center;
  border: 3px solid #151915;
  border-radius: 15px;
}
.part1 {
  background-color: #a0d2db;
}
.part1 .inner {
  padding: 50px 0;
  text-align: center;
}
.part1 .inner .title {
  color: #fdf600;
  border-color: #fdf600;
}
.part1 .inner .cont:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.part1 .inner .cont .item {
  position: relative;
  display: inline-block;
  width: 265px;
  margin: 0 20px;
  background-color: #fdf600;
  margin-top: 80px;
  padding: 25px;
}
.part1 .inner .cont .item:before {
  position: absolute;
  content: "";
  display: block;
  height: 78px;
  width: 0;
  border-right: 2px solid #37789f;
  transform: rotate(40deg);
  left: 50px;
  bottom: -45px;
}
.part1 .inner .cont .item:after {
  position: absolute;
  content: "";
  display: block;
  height: 78px;
  width: 0;
  border-right: 2px solid #37789f;
  transform: rotate(40deg);
  right: 50px;
  top: -45px;
}
.part1 .inner .cont .item p {
  text-align: center;
  margin: 5px 0;
}
.part1 .inner .cont .item .step {
  font-size: 60px;
  color: #000;
  margin: 15px 0;
}
.part1 .inner .cont .item .ptitle {
  font-size: 30px;
  color: #4f77b0;
}
.part1 .inner .cont .item .txt {
  font-size: 26px;
  color: #0f0a00;
  margin-top: 15px;
}
.part1 .inner .cont .item span {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 54px;
  line-height: 80px;
  left: 50%;
  margin-left: -40px;
  top: -40px;
  border-radius: 50%;
  background-color: #000;
  color: #fdf600;
}
.part2 {
  height: 735px;
  background: url("../images/system/part2.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/system/part2.png*/ center top no-repeat;
}
.part2 .inner {
  padding-top: 50px;
  text-align: center;
}
.part2 .inner .title {
  font-size: 32px;
  color: #42b18b;
  border-color: #42b18b;
}
.part3 {
  height: 2160px;
  background: url("../images/system/part3_2.png")/*tpa=http://www.onlyhiedu.com/static/home/static/img/system/part3_2.png*/ center top no-repeat;
}
.part3 .inner {
  padding-top: 50px;
  text-align: center;
}
.part3 .inner .title {
  color: #609dde;
  border-color: #609dde;
}
.part3 .inner table {
  text-align: center;
  margin-top: 103px;
}
.part3 .inner table tr {
  background-color: #666;
}
.part3 .inner table th {
  height: 53px;
  color: #fdffff;
  font-size: 28px;
}
.part3 .inner table td {
  height: 103px;
  width: 200px;
  font-size: 24px;
  color: #626459;
}
.part3 .inner table td:nth-child(1) {
  font-size: 28px;
  color: #1958b2;
}
.part4 {
  background-color: #f7e6c4;
}
.part4 .inner {
  padding: 50px 0;
  text-align: center;
}
.part4 .inner .title {
  color: #f79048;
  border-color: #f79048;
  margin-bottom: 50px;
}
.part4 .inner .pic {
  text-align: center;
}
.part5 {
  background-color: #67cce2;
}
.part5 .inner {
  padding: 50px 0;
  text-align: center;
}
.part5 .inner .title {
  color: #fff;
  border-color: #fff;
}
.part5 .inner .main-txt {
  margin: 40px auto;
  padding: 30px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 15px;
}
.part5 .inner .main-txt h5 {
  font-size: 30px;
}
.part5 .inner .main-txt p {
  text-align: center;
  font-size: 22px;
  margin: 20px 0;
}
.part5 .inner .main-txt div {
  text-align: left;
  font-size: 22px;
  line-height: 1.5;
}
