a {
    color: #FFF;
}
.actGotop {
    position: fixed;
    _position: absolute;
    bottom: 100px;
    right: 50px;
    width: 150px;
    height: 195px;
    display: none;
    z-index: 100;
}
.actGotop a, .actGotop a:link {
    width: 150px;
    height: 195px;
    display: inline-block;
    background: url(../images/index/gotop.png) no-repeat;
    _background: url(../images/index/gotop.gif) no-repeat;
    outline: none;
}
.actGotop a:hover {
    width: 150px;
    height: 195px;
    background: url(../images/index/gotopd.gif) no-repeat;
    outline: none;
}